/* Templinio CSS file */

.axis path,
.axis line {
    fill: none;
    stroke: #606060;
    shape-rendering: crispEdges;
}

rect {
  fill: #fff;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #606060;
}

.tevent text {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

rect.objperiod {
    fill:#9C27B0;
}
